* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #085fff, #5291ff);
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2); /* Glass effect for desktop */
  padding: 20px;
  border-radius: 15px;
  width: 1000px;
  
}

/* Remove glass effect on mobile */
@media (max-width: 768px) {
  .app {
    background-color: transparent; /* No glass effect on mobile */
    width: 100%;
  }
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 100%;
  max-width: 300px;
  border: none;
}

.search-button {
  padding: 15px;
  background: #ff7b00;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-button:hover {
  background: #e77000;
}

.weather-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.main_info {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location_temp p {
  font-size: 2rem;
  margin-bottom: 10px;
}

.date-time p {
  margin-top: 20px;
  font-size: 1rem;
}

.weather-icon_disp {
  display: flex;
  align-items: baseline;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discription {
  font-size: 1.5rem;
}

.temperature {
  font-size: 5rem;
}

.weather-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}

.weather-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid rgb(52, 49, 49) 1px;
}

.weather-item p {
  font-size: 1rem;
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.loading {
  font-size: 2rem;
  margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .weather-container {
    flex-direction: column; /* Stack sections vertically */
    align-items: center;
  }

  .main_info {
    width: 100%; /* Full width on mobile */
    order: 1; /* Ensure main_info appears first */
  }

  .weather-info {
    width: 100%; /* Full width on mobile */
    order: 2; /* Ensure weather-info appears second */
  }

  .search-input {
    width: 100%; /* Full width search input */
  }
  body{
    display: block;
  }

  
}

